<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstName">
        + <input type="text" v-model="lastName">
        = {{ fullName }}
    </div>
</body>
<script src="vue.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        watch: {
            firstName (newVal, oldVal) {
                this.fullName = newVal + this.lastName;
            },
            lastName (newVal, oldVal) {
                this.fullName = this.firstName + newVal;
            }
        },
        data: {
            firstName: "prims",
            lastName: "zhang",
            fullName: "prims zhang"
        },

    })
</script>
</html>